:root {
  --bs-blue: #5E50F9;
  --bs-indigo: #6610f2;
  --bs-purple: #6a008a;
  --bs-pink: #E91E63;
  --bs-red: #f96868;
  --bs-orange: #f2a654;
  --bs-yellow: #f6e84e;
  --bs-green: #46c35f;
  --bs-teal: #58d8a3;
  --bs-cyan: #57c7d4;
  --bs-white: #ffffff;
  --bs-gray: #434a54;
  --bs-gray-light: #aab2bd;
  --bs-gray-lighter: #e8eff4;
  --bs-gray-lightest: #e6e9ed;
  --bs-gray-dark: #12151e;
  --bs-black: #000000;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0090e7;
  --bs-secondary: #e4eaec;
  --bs-success: #00d25b;
  --bs-info: #8f5fe8;
  --bs-warning: #ffab00;
  --bs-danger: #fc424a;
  --bs-light: #ffffff;
  --bs-dark: #0d0d0d;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #ffffff;
  --bs-body-bg: #fff; }



body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }








table {
  caption-side: bottom;
  border-collapse: collapse; }




thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0; }




.table, .jsgrid .jsgrid-table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: #000000;
  width: 100%;
  margin-bottom: 1rem;
  color: #ffffff;
  vertical-align: top;
  border-color: #2c2e33; }
  .table > :not(caption) > * > *, .jsgrid .jsgrid-table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg); }
  .table > tbody, .jsgrid .jsgrid-table > tbody {
    vertical-align: inherit; }
  .table > thead, .jsgrid .jsgrid-table > thead {
    vertical-align: bottom; }
  .table > :not(:first-child), .jsgrid .jsgrid-table > :not(:first-child) {
    border-top: 2px solid currentColor; }





.table-bordered > :not(caption) > * {
  border-width: 1px 0; }
  .table-bordered > :not(caption) > * > * {
    border-width: 0 1px; }

















.bg-gradient-dark {
  background: theme-color(dark); }

    .sidebar-grdient-dark {
      background: #6a008a;
      background: -moz-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #6a008a), color-stop(20%, #6a008a), color-stop(100%, #fa0053));
      background: -webkit-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
      background: -o-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
      background: -ms-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
      background: linear-gradient(to bottom, #6a008a 0%, #6a008a 20%, #fa0053 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a008a', endColorstr='#fa0053', GradientType=0 );
      color: #ffffff; }

    /* Typography */
    body {
      font-size: 1rem;
      font-weight: normal;
      font-weight: initial;
      line-height: 1.5;
      font-family: "Rubik", sans-serif;
      -webkit-font-smoothing: antialiased; }

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      font-weight: 500; }

    p {
      font-size: 0.875rem; }

    h1, .h1,
    .h1 {
      font-size: 2.19rem; }

    h2, .h2,
    .h2 {
      font-size: 1.875rem; }

    h3, .h3,
    .h3 {
      font-size: 1.5rem; }

    h4, .h4,
    .h4 {
      font-size: 1.125rem; }

    h5, .h5,
    .h5 {
      font-size: 1rem; }

    h6, .h6,
    .h6 {
      font-size: 0.9375rem; }

    p {
      font-size: 0.875rem; }

    .display-1 {
      font-size: 3.75rem; }
      @media (max-width: 991px) {
        .display-1 {
          font-size: 3rem; } }

    .display-2 {
      font-size: 3.125rem; }
      @media (max-width: 991px) {
        .display-2 {
          font-size: 2.5rem; } }

    .display-3 {
      font-size: 2.5rem; }
      @media (max-width: 991px) {
        .display-3 {
          font-size: 2rem; } }

    .display-4 {
      font-size: 1.875rem; }
      @media (max-width: 991px) {
        .display-4 {
          font-size: 1.5rem; } }

    .display-5 {
      font-size: 1.25rem; }
      @media (max-width: 991px) {
        .display-5 {
          font-size: 1rem; } }

    .blockquote {
      padding: 1.25rem;
      border: 1px solid #2c2e33; }

    address p {
      margin-bottom: 0; }

    .blockquote-primary {
      border-color: #0090e7; }
      .blockquote-primary .blockquote-footer {
        color: #0090e7; }

    .blockquote-secondary {
      border-color: #e4eaec; }
      .blockquote-secondary .blockquote-footer {
        color: #e4eaec; }

    .blockquote-success {
      border-color: #00d25b; }
      .blockquote-success .blockquote-footer {
        color: #00d25b; }

    .blockquote-info {
      border-color: #8f5fe8; }
      .blockquote-info .blockquote-footer {
        color: #8f5fe8; }

    .blockquote-warning {
      border-color: #ffab00; }
      .blockquote-warning .blockquote-footer {
        color: #ffab00; }

    .blockquote-danger {
      border-color: #fc424a; }
      .blockquote-danger .blockquote-footer {
        color: #fc424a; }

    .blockquote-light {
      border-color: #ffffff; }
      .blockquote-light .blockquote-footer {
        color: #ffffff; }

    .blockquote-dark {
      border-color: #0d0d0d; }
      .blockquote-dark .blockquote-footer {
        color: #0d0d0d; }

    .error-page h1, .error-page .h1 {
      font-size: 12rem; }
      @media (max-width: 991px) {
        .error-page h1, .error-page .h1 {
          font-size: 8rem; } }

    .icon-lg {
      font-size: 3.75rem; }

    .icon-md {
      font-size: 1.875rem; }

    .icon-sm {
      font-size: 1rem; }

    /* Miscellanoeous */
    body,
    html {
      overflow-x: hidden;
      padding-right: 0 !important;
      background-color: #191c24; }

    *:-moz-full-screen,
    *:-webkit-full-screen,
    *:fullscreen *:-ms-fullscreen {
      overflow: auto; }

    .container-scroller {
      overflow: hidden; }

    pre {
      background: color(gray-lighter);
      padding: 15px;
      font-size: 14px; }

    code {
      padding: 5px;
      color: #fc424a;
      font-weight: 300;
      font-size: 0.875rem;
      border-radius: 4px; }

    .page-header {
      margin: 0 0 1.5rem 0; }
      .page-header .breadcrumb {
        border: 0;
        margin-bottom: 0; }

    .page-title {
      color: #ffffff;
      font-size: 1.125rem;
      margin-bottom: 0; }
      .page-title .page-title-icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 4px;
        text-align: center;
        box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35); }
        .page-title .page-title-icon i {
          font-size: .9375rem;
          line-height: 36px; }

    /* Footer */
    .footer {
      background: #000000;
      color: color(dark);
      padding: 20px 1rem;
      transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      font-size: calc(0.875rem - 0.05rem);
      font-weight: 300; }
      .footer a {
        color: #00d25b;
        font-size: inherit; }
      @media (max-width: 991px) {
        .footer {
          margin-left: 0;
          width: 100%; } }

    /* Utilities */
    .grid-margin {
      margin-bottom: 1.5rem; }

    @media (min-width: 576px) {
      .grid-margin-sm-0 {
        margin-bottom: 0; } }

    @media (min-width: 768px) {
      .grid-margin-md-0 {
        margin-bottom: 0; } }

    @media (min-width: 992px) {
      .grid-margin-lg-0 {
        margin-bottom: 0; } }

    @media (min-width: 1200px) {
      .grid-margin-xl-0 {
        margin-bottom: 0; } }

    .img-lg {
      width: 92px;
      height: 92px; }

    .img-sm {
      width: 43px;
      height: 43px; }

    .img-xs {
      width: 35px;
      height: 35px; }

    .img-ss {
      width: 26px;
      height: 26px; }

    .stretch-card {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-justify-content: stretch;
      justify-content: stretch; }
      .stretch-card > .card {
        width: 100%;
        min-width: 100%; }

    @media (min-width: 576px) {
      .border-right-sm {
        border-right: 1px solid #2c2e33; } }

    @media (min-width: 768px) {
      .border-right-md {
        border-right: 1px solid #2c2e33; } }

    @media (min-width: 992px) {
      .border-right-lg {
        border-right: 1px solid #2c2e33; } }

    @media (min-width: 576px) {
      .border-left-sm {
        border-left: 1px solid #2c2e33; } }

    @media (min-width: 768px) {
      .border-left-md {
        border-left: 1px solid #2c2e33; } }

    @media (min-width: 992px) {
      .border-left-lg {
        border-left: 1px solid #2c2e33; } }

    .text-gray, .card .card-subtitle {
      color: #8c8c8c; }

    .text-black {
      color: #000000; }

    .text-small {
      font-size: 12px; }

    .flex-grow {
      flex-grow: 1; }

    .font-weight-light {
      font-weight: 300; }

    .font-weight-medium {
      font-weight: 500; }

    .font-weight-bold {
      font-weight: 700; }

    .font-weight-normal {
      font-weight: normal; }

    .bg-gray-dark {
      background: color(gray-dark); }

    .text-twitter {
      color: #2caae1; }

    .text-facebook {
      color: #3b579d; }

    .text-google {
      color: #dc4a38; }

    .text-linkedin {
      color: #0177b5; }

    .text-pinterest {
      color: #cc2127; }

    .text-youtube {
      color: #e52d27; }

    .text-github {
      color: #333333; }

    .text-behance {
      color: #1769ff; }

    .text-dribbble {
      color: #ea4c89; }

    .text-reddit {
      color: #ff4500; }

    /* Demo Styles */
    .template-demo .slider-wrap {
      height: 100px; }

    .template-demo .progress {
      margin-top: 1.5rem; }

    .template-demo > h2, .template-demo > .h2,
    .template-demo > h3,
    .template-demo > .h3,
    .template-demo > h4,
    .template-demo > .h4,
    .template-demo > h5,
    .template-demo > .h5,
    .template-demo > h6,
    .template-demo > .h6,
    .template-demo > h1,
    .template-demo > .h1 {
      border-top: 1px solid #2c2e33;
      padding: 0.5rem 0 0; }

    .template-demo .ul-slider.noUi-horizontal {
      margin-top: 2rem; }

    .template-demo .ul-slider.noUi-vertical {
      margin-right: 2rem; }

    .template-demo > .dropdown {
      display: inline-block;
      margin-bottom: 0.5rem; }

    .template-demo nav .breadcrumb {
      margin-bottom: 1.375rem; }

    .template-demo nav:last-child .breadcrumb {
      margin-bottom: 0; }

    .template-demo .editable-form > .form-group {
      border-bottom: 1px solid #2c2e33;
      padding-bottom: 0.8rem;
      margin-bottom: 0.8rem; }

    .template-demo .circle-progress {
      padding: 15px; }






